.row {
    display: table-cell;
    display: flex;
    width: 100%;
}
@media screen and (max-width:767px) {
    .row {
        flex-direction: column;
    }
}
.align-center {
    align-items: center;
}

.col-md-4 { width: 100%; }
.col-md-5 { width: 100%; }
.col-md-6 { width: 100%; }
.col-md-7 { width: 100%; }
.col-md-8 { width: 100%; }
.col-md-12 { width: 100%; }

@media screen and (min-width:768px) {
    .col-md-4 {
        width: 33.333333%;
        padding: 0 10px;
    }
    .col-md-5 {
        width: 41.666667%;
        padding: 0 10px;
    }
    .col-md-6 {
        width: 50%;
        padding: 0 10px;
    }
    .col-md-7 {
        width: 58.333333%;
        padding: 0 10px;
    }
    .col-md-8 {
        width: 66.666667%;
        padding: 0 10px;
    }
    .col-md-12 {
        width: 100%;
        padding: 0 10px;
    }
}