/* BANNER */
#banner {
    height: 100vh;
    background-color: #454545;
    text-align: center;
    position: relative;
}
#banner .banner-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    z-index: 0;
    display: none;
}
#banner .banner-bg.active {
    display: block;
}
#banner .container {
    position: relative;
    z-index: 1;
    padding: 2rem 0;
}
#banner h1 {
    color: #546130;
    font-weight: bold;
}
#banner p {
    font-size: 2rem;
    font-weight: 500;
    color: #2d3b09;
    margin-bottom: 1.8rem;
}
#banner .banner-control {
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: rgba(52,52,52,0.75);
    z-index: 1;
    height: 90px;
    width: 100%;
    text-align: center;
}
#banner .banner-control .control-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: table-cell;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 100%;
}
#banner .banner-control .control-list .control-item {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: #ffffff;
    box-shadow: inset 0 0 0 10px #343434;
    margin: 0 5px;
    cursor: pointer;
}
#banner .banner-control .control-list .control-item:hover {
    background-color: #f1f1f1;
    box-shadow: inset 0 0 0 10px #242424;

}
#banner .banner-control .control-list .control-item.active {
    background-color: #546130;
    box-shadow: inset 0 0 0 10px #ffffff;
}
@media screen and (max-width:767px) {
    #banner .container {
        padding:0;
    }
    #banner .container .text-wrap {
        background-color: #646464;
        padding-top: 20px;
        padding-bottom: 20px;
        margin-bottom: 20px;
    }
    #banner h1 {
        color: #ffffff;
    }
    #banner p {
        color: #ffffff;
    }
}

/* CAROUSEL */
#carousel {
    background-color: #454545;
    position: relative;
}
#carousel .container {
    padding: 45px 0;
    display: table-cell;
    display: flex;
}
#carousel .prev,
#carousel .next {
    min-width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: opacity .1s ease-in-out;
}
#carousel .prev:hover,
#carousel .next:hover {
    opacity: .8;
    transition: opacity .1s ease-in-out;
}
#carousel .prev img {
    transform: rotate(90deg);
    vertical-align: middle;
    display: inline-block;
}
#carousel .next img {
    transform: rotate(-90deg);
}
#carousel .slide-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
    display: table-cell;
    display: flex;
    overflow: hidden;
}
#carousel .slide-list .slide-item {
    padding: 0 15px;
    margin: 0;
    text-align: center;
    width: 33%;
    min-width: 33%;
    color: #ffffff;
    /* display: none; */
}
#carousel .slide-list .slide-item.show {
    display: inline-block;
}
#carousel .slide-list .slide-item .slide-img-wrap {
    background-color: #6f6f6f;
    padding: 10px;
    margin-bottom: 1rem;
}
#carousel .slide-list .slide-item .slide-img-wrap img {
    width: 100%;
    height: auto;
    margin: 0;
}
#carousel .slide-list .slide-item h4 {
    margin-bottom: 0.8rem;
}
@media screen and (max-width:767px) {
    #carousel {
        padding-bottom: 20px;
    }
    #carousel .slide-list .slide-item {
        width: 100%;
        min-width: 100%;
    }
    #carousel .prev,
    #carousel .next {
        position: absolute;
        bottom: 10px;
        cursor: pointer;
        transition: opacity .1s ease-in-out;
    }
    #carousel .prev {
        left: 30%;
    }
    #carousel .next {
        right: 30%;
    }
}

/* DETAIL */
#detail {
    background-color: #6f6f6f;
    padding: 35px 0;
    color: #ffffff;
}
#detail .img-detail {
    text-align: center;
}
#detail .img-detail img {
    border: 20px solid #343434;
    border-radius: 50%;
}
#detail h3 {
    margin-bottom: 1.4rem;
}
@media screen and (max-width:767px) {
    #detail {
        padding: 15px;
    }
    #detail .row {
        flex-direction: column;
    }
    #detail .img-detail img {
        width: 100%;
        height: 100%;
    }
    #detail h3,
    #detail p {
        text-align: center;
    }
}


/* ACCORDION */
#accordion {
    background-color: #bebebe;
    padding: 50px 0;
}
#accordion .accordion-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    border-radius: 10px;
    overflow: hidden;
}
#accordion .accordion-list .accordion-item .accordion-header {
    background-color: #6f6f6f;
    transition: background-color .1s ease-in-out;
    color: #ffffff;
    border-bottom: 1px solid #bebebe;
    padding: 20px 25px;
    font-size: 1.6rem;
    font-weight: 500;
    position: relative;
    cursor: pointer;
}
#accordion .accordion-list .accordion-item .accordion-header:hover {
    background-color: #646464;
    transition: background-color .1s ease-in-out;
}
#accordion .accordion-list .accordion-item .accordion-header .arrow {
    position: absolute;
    top: 50%;
    margin-top: -12.5px;
    right: 25px;
    height: 25px;
}
#accordion .accordion-list .accordion-item .accordion-header.active {
    background-color: #ffffff;
    color: #6f6f6f;
    border-bottom: 1px solid #ffffff;
}
#accordion .accordion-list .accordion-item .accordion-header.active .arrow {
    transform: rotate(180deg);
}
#accordion .accordion-list .accordion-item .accordion-content {
    display: none;
    padding: 20px;
    background-color: #ffffff;
    border-bottom: 1px solid #bebebe;
}
#accordion .accordion-list .accordion-item .accordion-content img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: 10px solid #646464;
}
@media screen and (max-width:767px) {
    #accordion {
        padding: 20px 15px;
    }
    #accordion .accordion-list .accordion-item .accordion-content .row img {
        margin-bottom: 2rem;
        width: 100%;
    }
    #accordion .accordion-list .accordion-item .accordion-content .row p {
        text-align: center;
    }
}

/* CONTACT */
#contact {
    padding: 40px 0;
    background: linear-gradient(to bottom right,#6f6f6f 50%,#454545 50%);
}
#contact .input-group {
    background-color: #bebebe;
    margin-bottom: 1rem;
    padding: .7rem;
    border-radius: .5rem;
    position: relative;
    display: flex;
}
#contact .input-group label {
    color: #333333;
    font-weight: 600;
    white-space: nowrap;
    margin-right: 5px;
}
#contact .input-group .input {
    background: transparent;
    border: 0;
    font-size: 1rem;
    padding: 0;
}
#contact .btn {
    font-size: 1.5rem;
    padding: .7rem 2rem;
    border-radius: .8rem;
    margin-top: 1rem;
    cursor: pointer;
    transition: background-color .1s ease-in-out;
}
#contact .btn:hover {
    background-color: #dddddd;
    transition: background-color .1s ease-in-out;
}
@media screen and (max-width:767px) {
    #contact {
        padding: 20px 15px;
        background: linear-gradient(to bottom right,#6f6f6f 50%,#454545 50%);
    }
    #contact .input-group {
        padding: 1.2rem 1.2rem;
    }
}

/* FOOTER */
footer {
    background-color: #343434;
    text-align: center;
    color: #ffffff;
    padding: 30px 0;
}
footer span {
    font-size: 2rem;
    text-transform: uppercase;
}