* {
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: #6f6f6f;
}
h1,h2,h3,h4,h5,h6 {
    text-transform: uppercase;
}
h1 { font-size: 4rem; }
h2 { font-size: 3.6rem; }
h3 { font-size: 3rem; }
h4 { font-size: 2rem; }
h5 { font-size: 1.2rem; }
h6 { font-size: 0.8rem; }

.container {
    max-width: 1366px;
    margin-left: auto;
    margin-right: auto;
}